<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>HOME</h1>
    <p>User: <%= user %></p>
    <a href="/auth/google">Google</a>
    <hr />
    <a href="/auth/facebook">Facebook</a>
    <hr />
    <a href="/users/update">Update</a>
    <hr />
    <a href="/auth/logout">Logout</a>
  </body>
</html>
