<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>index</h1>
    <p>User: <%= user %></p>

    <a href="/home">Home</a>
    <hr />
    <a href="/auth/google">Google</a>
    <hr />
    <a href="/auth/facebook">Facebook</a>
    <hr />
    <a href="/auth/logout">Logout</a>
  </body>
</html>
