<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>index</h1>
    <p>User: <%= user %></p>

    <a href="/home">Home</a>
    <hr />
    <a href="/auth/google">Google</a>
    <hr />
    <a href="/auth/facebook">Facebook</a>
    <hr />
    <h2>Login</h2>
    <form action="/auth/update/password" method="post">
      <label htmlFor="">Pass1</label>
      <input type="password" name="password" id="" />
      <label htmlFor="">Pass2</label>
      <input type="password" name="password2" id="" />
      <button type="submit">submit</button>
    </form>
    <hr />
    <a href="/auth/logout">Logout</a>
  </body>
</html>
