.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  margin: 0 10vw;
}

.images {
  display: flex;
  justify-content: center;
}

.delete {
  position: relative;
  top: 16px;
  right: 15px;
}

.button svg,
.delete svg {
  filter: drop-shadow(3px 3px 3px #999);
  transition: 0.3s;
  transform: rotate(-0.2deg);
}

.button svg:hover,
.delete svg:hover {
  filter: drop-shadow(4px 4px 4px #999);
  transform: rotate(-0.6deg);
  cursor: pointer;
}

.delete svg {
  filter: drop-shadow(1px 1px 1px #999);
}

input[type='file'] {
  visibility: hidden;
  position: absolute;
}

img {
  max-height: 420px;
  max-width: 420px;
  padding: 10px;
}
